<p>
  <strong>Itinerary name:</strong>
  <%= @itinerary.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @itinerary.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @itinerary.startdate %>
</p>

<p>
  <strong>End:</strong>
  <%= @itinerary.enddate %>
</p>

<%# link_to 'Edit', edit_product_path(@itinerary) %> |
<%# link_to 'Back', products_path %>