<h3>Add Event moo</h3>
<form>
	<button type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-target="#general_settings">General Settings</button>

	<div id="general_settings" class="collapse">
		<button type ="button" onclick="createMiniCalendar('testLeft', 'moo date left')">Science on da left!</button>
		<button type ="button" onclick="createMiniCalendar('testRight', 'moo date right')">Science on da right!</button>
		<div class="row">
			<div class="col-sm-6"><div id="testLeft"></div></div>
			<div class="col-sm-6"><div id="testRight"></div></div>
		</div>
	</div>
	<button type="submit" class="btn btn-lg">Submit</button>
</form>