<div class="container-fluid">
	<div class="row"><div class= "col-xs-12"><h3>Add Event moo</h3></div></div>
	<form>
		<div class="row"><button type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-target="#general_settings">General Settings</button></div>

		<div id="general_settings" class="collapse">
			<button type ="button" onclick="createMiniCalendar('moo date yeah')">Science!</button>
			<div class="row">
				<div class="col-xs-6"><div class="test">

				</div></div>
				<div class="col-xs-6"></div>
			</div>
		<div class="row"><div class = "col-xs-12"><button type="submit" class="btn btn-lg">Submit</button></div></div>
	</form>
	</div>
</div><%#end container-fluid %>