<div class="container-fluid">
	<div class="row">
		<h3>Add Event moo</h3>
	</div>
	<form>
		<div class="row">
			<button type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-target="#general_settings">General Settings</button>
		</div>
		<div id="general_settings" class="collapse">
		  <label>Start Time</label>
		  <div class="two-digit-column">
			  <div class="row">
			  	<div class="col-xs-6">
						<div class="two-digit-input">
							<div class="form-group">
								<label for="minutes1">Minute(s)</label>
								<input type="number" class="form-control input-lg" id="minutes1" step="5" value="0" min="0" max="55" size="4">
							</div>
				  	</div>
				  </div>
				  <div class="col-xs-6">
				  	<div class="two-digit-input">
							<div class="form-group">
								<label for="hours1">Hour(s)</label>
								<input type="number" class="form-control input-lg" id="hours1" size="5">
							</div>
						</div>
				  </div>
			  </div>
			</div>
		</div>

		<button type ="button" onclick="testFunction()">mootesttime</button>
		<button type="submit" class="btn btn-lg">Submit</button>
	</form>
	<div class="mini-calendar">
<table>
	<tr>
    <th><button type ="button" onclick="testFunction()">le</button></th>
    <th colspan="5">Month</th>
    <th><button type ="button" onclick="testFunction()">ri</button></th>
	</tr>
	<tr>
    <td class = "days">S</td>
    <td class = "days">M</td>
    <td class = "days">T</td>
    <td class = "days">W</td>
    <td class = "days">H</th>
    <td class = "days">F</td>
    <td class = "days">S</td>
	</tr>
	<tr>
		<td>11</td>
		<td>12</td>
		<td>13</td>
		<td>14</td>
		<td>15</td>
		<td>16</td>
		<td>17</td>
	</tr>
	<tr>
		<td>21</td>
		<td>22</td>
		<td>23</td>
		<td>24</td>
		<td>25</td>
		<td>26</td>
		<td>27</td>
	</tr>
	<tr>
		<td>31</td>
		<td>32</td>
		<td>33</td>
		<td>34</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
	</tr>
	<tr>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
	</tr>
	<tr>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
	</tr>
</table>
  </div>
</div>
