 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <!--<%= @user_id %>-->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row welcome_padding">
        <div class="col-lg-4">
          <!--<img class="img-circle" src= "/assets/collab.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">-->
          <h2>Dynamic</h2>
          <p>Wether you're planning a company tour, a wedding or a weekend getaway, Planif-i dynamically adjusts events to everyones schedules. <!--At CuThen, we understand the complications of organizing big events and how busy everyone's schedules are, which is why we try to best accomadate everyone's schedules in the itinerary creation process.--> As users decide what time best fits their schedule to attend an event, the itinerary dynamically updates and changes are made instantly.
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!--<img class="img-circle" src= "/assets/hand.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">-->
          <h2>Collaborative</h2>
          <p>Watch as an itinerary comes to life as users create and update events. Receive input from the people attending events, send out email notifications and much more.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!--<img class="img-circle" src= "/assets/simple.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">-->
          <h2>Simple</h2>
          <p>Sending emails, calling people, manually updating a word document, sending out changes... sounds complicated doesn't it. Planif-i is a one stop portal where creating and organizing big events is as simple as a few clciks.</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Itinerary creation. <span class="text-muted">Step 1</span></h2>
          <p class="lead">Easily create an itinerary that spans one or multiple days. Simply add a title, description and the time span of the itinerary. Finally, invite people who will partake throughout the entire itinerary.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag("itineraries.png") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag("events.png", size: "250x250") %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Event creation. <span class="text-muted">Step 2</span></h2>
          <p class="lead">Event creation is as easy as 1, 2, 3. After creating an itinerary, simply add new events to it with the event creation page. Choose a title, description and time span of an event and then invite people to attend.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Invite. <span class="text-muted">Step 3</span></h2>
          <p class="lead"> Get user input as to when a best time for an event should be by letting users vote. When an event is created and a user is invited, a vote link is provided where each user can suggest their preffered time (within the boundries set by the event creator).</p>
        </div>
        <div class="col-md-5">
          <%= image_tag("invite_user.png") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->