<div class="container-fluid">
  <div class="row">
    <h1>Search</h1>
  </div>
<%= form_tag("/search", method: "get") do %>
<%# These are the mandatory search fields %>
  <div class = "row">
    <div class = "col-sm-6">
      <div class = "form-group">
        <%= label_tag(:search_query, :Search) %>
        <%= text_field_tag(:search_query, nil, class: "form-control input-lg", id: :search_query, placeholder: "Enter search term", data: {url: search_user_data_path}) %>
      </div>
    </div>
    <div class = "col-sm-6">
       <label for="item_type">Item Type</label>
      <select class="form-control" id="item_type">
        <option>Itinerary</option>
        <option>Event</option>
        <option>Group</option>
        <option>User</option>
      </select>
    </div>
  </div>

<%# These are the optional search fields %>
  <div class="form-group">
      <div id="advanced_options" class="collapse">
        <div class="form-group">
            <label for="search_range">Search Range</label>
               <div id="search_range">
                 <label for="start_date">Start</label>
                 <input type="date" class="form-control input-md" id="start_date" >
                 <label for="end_date">End</label>
                 <input type="date" class="form-control input-md" id="end_date">
               </div>
        </div>
    </div>
</div>

<div class = "row">
    <div class = "col-sm-4">
      <button type="button" class="btn btn-block btn-info btn-lg" onclick="get_search_results()">Search</button>
    </div>
    <div class = "col-sm-4">
      <button type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-target="#advanced_options">Advanced Options</button>
    </div>
    <div class = "col-sm-4">
      <%# submit_tag("Print") %>
      <button type="submit" class="btn btn-block btn-info btn-lg">Print</button>
  </div>
</div>
<%# Submit query %>
<% end %>

<%= render 'results' %>