<h1> Results</h1>

<h3> Users </h3>

<% @users.each do |user| %>
    <%# users.select! {|x| !x.nil?} %>
        <%# users.each do |user| %>
    <p> <%= user.name %> | <%= user.email %></p>
    <%# end %>
<% end %>

<h3> Itineraries </h3>

<% @itineraries.each do |itinerary| %>
    <%# users.select! {|x| !x.nil?} %>
        <%# users.each do |user| %>
    <p> <%= itinerary.name %> | <%= itinerary.start_datetime %></p>
    <%# end %>
<% end %>