<h3>Create Itinerary</h3>
<form>

	<button type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-target="#general_settings">General Settings</button>

	<div id="general_settings" class="collapse">

	  <div class="form-group">
	    <label for="event_name">Itinerary Name</label>
	    <input type="text" class="form-control input-lg" id="event_name" placeholder="Enter event name">
	  </div>
	  <div class="form-group">
	    <label for="description">Description</label>
	    <textarea rows="3" class="form-control input-lg" id="description" placeholder="Enter description"></textarea>
	  </div>

	  <p>---Insert Duration display here via list of dates and times---</p>
	  
	  <p>Set Time Frame</p>
	  <div class="form-group">
	    <label for="datestart1">From</label>
	    <input type="text" class="form-control input-lg" id="datestart1" placeholder="datestart1">
	  </div>
	  <div class="form-group">
	    <label for="dateend1">To</label>
	    <input type="text" class="form-control input-lg" id="dateend1" placeholder="dateend1">
	  </div>
	</div>
	<button type="submit" class="btn btn-lg">Save</button>
</form>