<%# here for reference only %>
<%# here for reference only %>
<%# here for reference only %>

<h3>Create Itinerary</h3>
<form role="form">

	<div class="setting">
		<div class="setting-label" id="generalSettingsLabel" data-toggle="collapse" data-target="#generalSettings" aria-expanded="true" onclick="toggleSettingLabel('generalSettingsLabel', 0)">Itinerary Basic Information</div>

		<div id="generalSettings" class="collapse in" aria-expanded="true">
			<%# Init Name %>
			<div class="form-group">
				<label for="initName">Itinerary Name</label>
				<input type="text" class="form-control input-lg" id="initName">
		    </div>
			<%# Init Name End %>

			<%# Init Desc %>
			<div class="form-group">
				<label for="initDesc">Description</label>
				<textarea class="form-control input-lg" rows="4" id="initDesc"></textarea>
		    </div>
			<%# Init Desc End %>
		</div>
	</div>

	<button type="button" class="setting-label" id="timeFrameLabel" data-toggle="collapse" data-target="#timeFrame" onclick="itinFirstClick()">Time Frame</button>

	<div id="timeFrame" class="collapse">
		<p>Add all the days involved in this itinerary:</p>
		<%# Init Mini Calendars Settings %>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
		    Add single days at a time
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		    Add a range of days
		  </label>
		</div>
		<%# Init Mini Calendars End %>
		<%# Init Mini Calendars %>
		<div class="row">
			<div class="col-sm-6"><div id="startDate"></div></div>
			<div class="col-sm-6"><div id="endDate"></div></div>
		</div>
		<button type ="button" class="btn btn-lg">Add Date(s)</button>
		<!--Invitees-->
		<!--Privileges-->
		<!--PrivatePubliEtc-->
	</div>

	<button type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-target="#itin_settings">Itin Settings</button>

	<div id="itin_settings" class="collapse">
		<%# Private Public %>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios2" id="optionsRadios21" value="option1" checked>
		    Public
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios2" id="optionsRadios22" value="option2">
		    Protected
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios2" id="optionsRadios23" value="option2">
		    Private
		  </label>
		</div>
		<%# Priv Pub etc End %>
		<!--Invitees-->
		<!--Privileges-->
	</div>

	<button type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-target="#itin_invites">Itin Invites</button>

	<div id="itin_invites" class="collapse">
		<p> insert list here of people and stuff </p>
		<%# Priv Pub etc End %>
		<!--Invitees-->
		<!--Privileges-->
	</div>
	<button type="submit" class="btn btn-lg">Save</button>
</form>