<p>
  <strong>User name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @user.startdate %>
</p>

<p>
  <strong>End:</strong>
  <%= @user.enddate %>
</p>