<h3>Create Itenerary</h3>
<form>

	<button type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-target="#general_settings">General Settings</button>

	<div id="general_settings" class="collapse">

	  <div class="form-group">
	    <label for="event_name">Event Name</label>
	    <input type="text" class="form-control input-lg" id="event_name" placeholder="Enter event name">
	  </div>

	  <label>Duration</label>
	  
	  <div class="form-group" width="10px">
	    <label for="hours1">Hour(s)</label>
	    <input type="number" class="form-control input-lg" id="hours1" value="0" min="0" max="99999">
	  </div>

	  <div class="form-group">
	    <label for="minutes1">Minute(s)</label>
	    <input type="number" class="form-control input-lg" id="minutes1" step="5" value="0" min="0" max="55">
	  </div>

	  <div class="form-group">
	    <label for="description">Description</label>
	    <textarea rows="3" class="form-control input-lg" id="description" placeholder="Enter description"></textarea>
	  </div>
	</div>
	<button type ="button" onclick="testFunction()">mootesttime</button>
	<button type="submit" class="btn btn-lg">Submit</button>
</form>