  
  <div class="form-group">
    <button type="button" id = "moo" class="remove_field">Remove</button>
    <%= f.label :user_id, "User ID" %>
    <%= f.number_field :user_id, class: "form-control input-lg" %>
  </div>