<% content_for :title do %>About Us<% end %>
<h3>About the Website</h3>
<p>
This web application was created as part of a capstone project for the 2014-2015 semester at Northern Arizona University.The main sponsor for this project was the Center for International Education at Northern Arizona University with the help of Lilliane Palm and Dr. Mandy Hanson. The professor who mentored the team through this project was Dr. Eck Doerry.
</p>
<br/>
<p>Please refer all comments, questions and concerns about Planif-i to: <a href="mailto:lane.fujikado@gmail.com" target="_top">lane.fujikado@gmail.com</a>

<h3>The Team</h3>
<p><b>Lane Fujikado</b></p>
<p>Lane Fujikado is a senior at NAU double majoring in Computer Science and Modern Languages. He currently works for the Center of International Education and for the College of Engineering as a web developer and a teacher’s assistant, respectively. After graduation his goal is to work both in the United States and abroad for a leader in the industry of software development and related technologies.</p>

<p><b>Mark Thompson</b></p>
<p>Mark Thompson is a senior at NAU Computer Science major at NAU. He currently works as a Math private tutor and can be found most of the time at the university library. He has been passionate about coding since he was a second year in high school. His favorite class is Calculus II. He hopes to own a laptop one day.</p>


<p><b>Sarah Kehoe</b></p>
<p>Sarah Kehoe is a senior Applied Computer Science major at NAU. She currently works at the College of Engineering’s IT help desk and can be found around the engineering building doing general PC and AV support. This is her first experience with full-stack web development. Her post-grad plans are to hopefully return to the Pacific Northwest, where her family lives.</p>


<p><b>Mohammad Al-Otaibi</b></p>
<p>Mohammad is a computer science major at NAU. He finished his associate degree in Saudi Arabia as a computer programmer. His goal was to continue his education in computer science abroad. Mohammad, enjoys to spend his free time with friends and playing first shooter video games.</p>