	<!--<div class="row-fluid" style="padding-top:15px">
		<div class="col-md-2 column" style= "background:#7A7878">
			<div class="span3 bs-docs-sidebar" style= "color:#7A7878">
				<ul class="nav nav-list bs-docs-sidenav">
          <li><a href=""><i class="icon-chevron-right" style = "background:#333"></i> Home</a></li>
          <li><a href="#code"><i class="icon-chevron-right"></i>Schedules I'm In </a></li>
          <li><a href="#tables"><i class="icon-chevron-right"></i> Schedules I made</a></li>
          <li><a href="#forms"><i class="icon-chevron-right"></i> History</a></li>
        </ul>
      </div>
		</div>-->
<div class = "row">
  <div class="col-md-4">
    <button type="button" class="btn btn-default" onclick="showList()">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List
    </button>
    <button type="button" class="btn btn-default" onclick="showCalendar()">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar
    </button>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <a href = "/itineraries" class="btn btn-success" role = "button">+Create Itinerary
    </a>
  </div>
</div>
<%= render 'layouts/dashboard_list' %>
<%= render 'layouts/dashboard_calendar' %>