// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
//test to make footer stay at the bottom
html, body {
  height: 100%;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
//overriding the default container
@media (max-width: 768px) {
  .container {
    //bad fix for container always being big enough to hold a mini calendar, 15+280+15
    //phone
    min-width: 310px;
  }
}
@media (min-width: 768px) {
  .container {
    //default 750px
    //tablet
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    //default 970px
    //regular computer
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    //default 1170px
    //full wide screen
    width: 970px;
  }
}
// apply styles to HTML elements
// to make views framework-neutral
body {
  background-color: #e7e7e7;
}
main {
  @extend .container;
  background-color: #FFF;
  //width: 80%;
  //min-height: 100%;
  margin-top: 71px; // accommodate the navbar 51px and extra white space
  padding-top: 20px;
  padding-bottom:60px; //the height of the footer
}

section {
  @extend .row;
  margin-top: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: black;
}

.wrapper{
  min-height: 100%;
  position: relative;
}

.welcome{
  background-image: url(image_path('cuthen_home.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2%;
  padding-bottom: 20%;
  text-align: center;
  color: #fff;
}

.welcome_padding{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.center{
  text-align: center;
}