.setting {
    border: 1px solid #a1a1a1;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.setting-label {
    display: block;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    background-color: #FFCD58;
}

.setting-label-expanded {
    @extend settingLabel;
    line-height: 0;
    border-radius: 0;
}
.calendar-popover-content {
    display: none;
}
div.image-block {
    img {
        width: 32px;
        height: 32px;
    }
    float: left;
    position: relative;
    min-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    width: 62px;
    height: 32px;
}

