// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

.welcome {
	background-color: #1DE8CE;
    padding-top: 2%;
    padding-bottom: 20%;
    text-align: center;
    color: #fff;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}