	<div id="list">
		<div class="col-md-10 column">

			<h2>
				Next Appointment
			</h2>
			<table class="table">
				<thead>
					<tr>
						<th>
							When
						</th>
						<th>
							Visitor(s)
						</th>
						<th>
							With?
						</th>
						<th>
							Location
						</th>
						<th>
						
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							November 5th <br>
							10:30 AM
						</td>
						<td>
							Chilean Center for Education
						</td>
						<td>
							Dr. Mills <br>
							CIE guide TBD
						</td>
						<td>
							Office
						</td>
						<td>
							<a href = "#">VIEW FULL SCHEDULE</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			
			<h2>
				Pending Requests
			</h2>
			<h3>
				Swaps
			</h3>
			<table class = "table">
				<tr>
					<th>Day</th>
					<th>Current Time</th>
					<th>Proposed New Time</th>
					<th>Accept?</th>
				<tr>
					<td>October 26</td>
					<td>10:30 AM</td>
					<td>11:30 AM</td>
					<td>
						<button type="button" class="btn btn-success">Yes</button>
						<button type="button" class="btn btn-danger">No</button>
					</td>
       </table>   

			
			
		</div>
	</div>
	
<!--</div>-->