<%# navigation styled for Bootstrap 3.0 %>
<div class="container">
	<div class = "row">
		<div class = "center_white">	
    		<p><b>Planif-i</b> 2015</p>
    	</div>
    </div>	
    <div class = "row">
    	<div class = "col-md-2">
    		<a href = "/pages/about" style = "color:#fff">About Us</a>
    	</div>
    	<div class = "col-md-1">
    		<a href = "#" style = "color:#fff">Licenses</a>
    	</div>
    </div>

</div>