<div class = "welcome">
  <nav class="navbar">
      <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><%= image_tag("", size: "60x60") %></a>
          </div>
      </div>
  </nav>
  <br/>
  <h2>Simple itinerary creation and management</h2>
  <p>Say goodbye to outdated methods of event planning</p>
  <br/>
  <div class = "row">
    <div class="col-md-offset-4  col-md-1">
      <%= button_to('Sign In', login_path, method: "get", :class => 'btn btn-large btn-info')  %>
    </div>
    <div class="col-md-2">
      <%= button_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-large btn-danger" %>
    </div>
    <div class="col-md-1">
      <%= button_to('Sign Up', signup_path, method: "get", :class => 'btn btn-large btn-info')  %>
    </div>
  </div>
  <br/>
<div>  