<div class = "welcome">
  <nav class="navbar">
      <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><%= image_tag("cuthen_logo.png", size: "140x140") %></a>
          </div>
      </div>
  </nav>
  <br/>
  <h2>Simple itinerary creation and management</h2>
  <p>Say goodbye to outdated methods of event planning</p>
  <div class = "center">    
    <a class="navbar-brand" href="#"><%= image_tag("google_long_signin.png") %></a>
  </div>
<div>  